In [ ]:
a = "Ritik"

In [ ]:
print(type(a))

<class 'str'>

In [ ]:
a = 10

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
# a = 10
# b = 10

a, b = 10, 11
print(a, b)

10 11

In [ ]:
global r
r = 10
def fun() :
  # r = 10
  print(r)
fun()
print(r)

10
10

In [ ]:
a = 10
def fun2() :
  global a
  a = 12
  print(a)
fun2()
a = 111
print(a)

12
111

In [ ]:
print(int(4.5))

4

In [ ]:
print(int('8888'))

8888

In [ ]:
print(int('ddd'))

ValueError: ignored

In [ ]:
r = int('8888')
print(r)

8888

In [ ]:
r = int("9999")
print(r)

9999

In [ ]:
s = "ritik"
print(type(s))
s = 'ritik'
print(type(s))

<class 'str'>
<class 'str'>

In [ ]:
string = "Hello, From pepcoding"
print(string[-1])

g

In [ ]:
print(string[1:-1])

ello, From pepcodin

In [ ]:
print(string[-7:-2])

pcodi

In [ ]:
print(string[:4])

Hell

In [ ]:
print(string[4:])

o, From pepcoding

In [ ]:
a = "hello"
b = 'bye'
c = a + b
print(c)

hellobye

In [ ]:
d = 9
c = a + d
print(c)

TypeError: ignored

In [ ]:
#format
d = 9
st = "Hello {}  times"
st = st.format(d)
print(st)

Hello 9  times

In [ ]:
# functions

def fun3() :
  return 10
print(fun3())

10

In [ ]:
# print dec 5 - 0

def pd(n) : 
  if n < 0 :
    return
  
  print(n)
  pd(n - 1)

pd(5)

5
4
3
2
1
0

In [ ]:
# lambda func


x = lambda a,b,c : a*b*c

c = x(10,3,2)
print(c)

60

In [ ]:
def f(a) :
  return lambda n : n*a

c = f(10)
print(c)

<function f.<locals>.<lambda> at 0x7efd13948680>

In [ ]:
d = c(9)
print(d)

90

In [ ]:
n = 5

if n > 5 :
  print(n)
elif n == 5 :
  print(n)
else :
  print("else")

5

In [ ]:
# for loops

a = ["Ritik", "Rohan", "Rahul"]
for ele in a :
  print(ele)

Ritik
Rohan
Rahul

In [ ]:
for i in range(len(a)) :
  print(a[i])

Ritik
Rohan
Rahul

In [ ]:
for i in range(10) :
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
i = 5
while i > 0 :
  print(i)
  i -= 1
else :
  print("finished")

5
4
3
2
1
finished

In [ ]:
for i in range(5) :
  print(i)
  if(i == 3) :
    break
else :
  print("finished")

0
1
2
3

In [ ]:
# List, tuple, set, dict


a = ["apple", "banana", "cherry"]
print(type(a))

<class 'list'>

In [ ]:
b = list(("apple", "banana", "cherry", "apple"))
print(b)

['apple', 'banana', 'cherry', 'apple']

In [ ]:
print(r)

9999

In [ ]:
print(b[0:3])

['apple', 'banana', 'cherry']

In [ ]:
for items in b :
  print(items)

apple
banana
cherry
apple

In [ ]:
b[1] = "apple"
print(b)

['apple', 'apple', 'cherry', 'apple']

In [ ]:
c = b
print(c)

['apple', 'apple', 'cherry', 'apple']

In [ ]:
c[2] = "apple"
print(id(c))

139625420381952

In [ ]:
print(id(b))

139625420381952

In [ ]:
d = b.copy()
print(id(d))

139625489536976

In [ ]:
d[0] = "banana"
print(b, d)

['apple', 'apple', 'apple', 'apple'] ['banana', 'apple', 'apple', 'apple']

In [ ]:
a.append("mango")
print(a)

['apple', 'banana', 'cherry', 'mango']

In [ ]:
a.extend(d)
print(a)

['apple', 'banana', 'cherry', 'mango', 'banana', 'apple', 'apple', 'apple']

In [ ]:
a = a + d
print(a)

['apple', 'banana', 'cherry', 'mango', 'banana', 'apple', 'apple', 'apple', 'banana', 'apple', 'apple', 'apple']

In [ ]:
d.insert(1, "grapes")

In [ ]:
print(d)

['banana', 'grapes', 'apple', 'apple', 'apple']

In [ ]:
d.insert(1, ["grapes", "oranges"])
print(d)

['banana', ['grapes', 'oranges'], 'grapes', 'apple', 'apple', 'apple']

In [ ]:
d.append(10)
print(d)

['banana', ['grapes', 'oranges'], 'grapes', 'apple', 'apple', 'apple', 10]

In [ ]:
a.sort()

In [ ]:
print(a)

['apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'banana', 'banana', 'banana', 'cherry', 'mango']

In [ ]:
try :
  print(ritiik)
except TypeError :
  print("222")
except :
  print("4444")
finally :
  print("done")
# d.sort()

4444
done

In [ ]:
class abc :
  a
  def __init__(ritik) :
    ritik.a = 10

  def fun(self, num) :
    self.a = num

  def fun2() :
    print("hello")

r = abc()
print(r.a)
r.fun(8)
print(r.a)
abc.fun2()

10
8
hello

In [ ]:
r.name = "Ritik"
print(r.name)

Ritik

In [ ]:
r.fun2()

TypeError: ignored

In [ ]:
d = abc()
print(d.name)

AttributeError: ignored

In [ ]:
print(r)

<__main__.abc object at 0x7efd1396ced0>

In [ ]:
print(r.a, r.name)

8 Ritik

In [115]:
class xyz :
  def __init__(self) :
    self.name = "ritik"
    self.team = "pep"

  def pri(self) :
    print(self.name, self.team, self.age)

a = xyz()
a.age = 9
a.pri()

ritik pep 9

In [116]:
class rr(xyz) :
  def __init__(self) :
    super().__init__()
    self.age = 20

r = rr()
r.pri()

ritik pep 20

In [117]:
class m :
  def __init__(self, name) :
    self.name = name

g = m("Ritik")
print(g.name)

Ritik